.imageDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    background-color: transparent;
    
}
.partnerImage{
    width: 200px;
    height: 62px;
}
.partnerDiv{
    padding-top: 50px;
    background-color: #F0FCF8;
}
.blueText{
    font-weight: 900;
    font-size: 35px;
    color: #010483;
}
.partnerText{
    font-size: 22px;
    font-weight: 600;
}
@media (max-width:455px){
    .partnerImage{
        width: 180px;
        height: 62px;
    }
}
@media (max-width:407px){
    .partnerImage{
        width: 140px;
        height: 42px;
    }
}