.doubtsText{
    font-weight: 900;
    text-align: center;
    padding-top:20px;
}
.doubtMainDiv{
    background-color: #f2fcf8;

}
.doubtsDiv{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;

}
.doubtBox{
    width: 49%;
    border: 1px solid #a7a7a7;
    border-radius: 12px;
    padding: 10px;
}
.cardGroup{
    text-align: center;
}
.cardImg{
    width: 60% !important;
    margin: 20px;
}
.flexDiv{
    display: flex;
    align-items: center;

}
.greenButton{
    color: #50C878;
    font-weight: 700;
    cursor: pointer;
}
.card-title{
    font-size: 18px;
    font-weight: 800;
}
.blueNum{
    background-color: #4169E1;
    font-weight: 900;
    color: white;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.cardGroupDiv{

        display: flex;
        justify-Content: space-between;
        gap: 30px;
        padding-bottom:40px

}
@media (max-width:1199px){
    .cardGroupDiv{
        flex-wrap: wrap;
    }
    .flexDiv{
        width: 30%;
    }
}
@media(max-width:991px){
    .card-text{
        font-size: 12px;
        font-weight: 500;
    }
}
@media (max-width:767px){
    .flexDiv{
        width: 45%;
    }
    .doubtsDiv{
        flex-wrap: wrap;
        gap: 15px;
    }
    .doubtBox{
        width: 100%;
    }
}
@media (max-width:575px){
    .flexDiv{
        width: 100%;
    }
}